/SnowboardShop-ejb/build/
/SnowboardShop-war/build/
/build/
/SnowboardShop-ejb/dist/
/SnowboardShop-war/dist/
/nbproject/private/
/SnowboardShop-ejb/nbproject/private/
/SnowboardShop-war/nbproject/private/
/dist/